@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap');

:root {
  --background: #1a1a1d;
  --foreground: #c5c6c7;
}

@theme inline { 
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'VT323', monospace;
  background-image: url('/images/background.png');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/* Efeito Neon para o Título Principal */
.text-neon-red {
  color: #FF073A; /* Texto vermelho */
  /* Sombra para criar o brilho neon azulado/esverdeado */
  text-shadow: 0 0 5px #fff,      /* Hot core branco */
               0 0 10px #00ffff,   /* Brilho ciano */
               0 0 20px #00ffff;   /* Brilho ciano mais difuso */
}

/* Efeito de Sombra Neon para os botões ativos/hover */
.shadow-neon-red-active {
  box-shadow: 0 0 5px #FF073A, 0 0 10px #FF073A, inset 0 0 3px #FF073A;
}

.hover-neon-effect:hover {
  color: #FF073A;
  /* Muda o texto para neon no hover */
  border-color: #FF073A !important;
  box-shadow: 0 0 5px #FF073A;
}


.metal-mania-regular {
  font-family: 'Metal Mania', cursive;
}

.text-neon-white {
  /* Cor base do texto como branco */
  color: #FFFFFF;

  /* Aplica a sombra para criar o efeito de brilho */
  /* Múltiplas sombras com desfoque e transparência crescentes */
  text-shadow: 0 0 7px #FFFFFF,
    /* Brilho interno forte */
    0 0 15px #00FFFF,
    /* Brilho secundário ciano (dá profundidade) */
    0 0 25px #00FFFF;
  /* Brilho externo mais difuso */
}
